# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# Build output (if you are using TypeScript or Babel, for example)
dist/
build/

# Temporary files
*.tmp
*.swp
*.bak

# IDE specific files
.vscode/

# OS specific files
.DS_Store
Thumbs.db